<div id="{{pokemon.name}}ModalCard" class="">
  <h1 id="inspectModalPokemon">{{pokemon.name}}</h1>
  <h5 id="addPokemon" class="pokemon-selector" data-target='#{{pokemon.name}}SelectorCard' data-second-target='#{{pokemon.name}}Card' data-name='{{pokemon.name}}'>Add</h5>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
