<div id="{{item.name}}ModalCard" class="">
  <h1 id="inspectModalItem">{{item.name}}</h1>
  <h5 id="addItem" class="item-selector" data-target='#{{item.name}}SelectorCard' data-second-target='#{{item.name}}Card' data-name='{{item.name}}'>Add</h5>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
