<div id="{{item.name}}Card" class="item-card">
  <h1>{{item.name}}</h1>
  <h5 id="pickItem" class="item-selector" data-target='#{{item.name}}Card' data-name='{{item.name}}'>Pick</h5>
  <h5 id="inspectItem" class="item-selector" data-name='{{item.name}}'>Inspect</h5>
</div>
