<div class="{{item.name}}-selector-card item-card inspect">
  <h1>{{item.name}}</h1>
  <h5 id="removeItem" class="item-selector" data-target='#{{item.name}}Card' data-card='.{{item.name}}-selector-card' data-name='{{item.name}}'>Remove</h5>
</div>
