<div class="{{item.name}}-selector-card item-card inspect">
  <h1>{{item.name}}</h1>
  <h5 id="removeItem" class="item-selector" data-target='#{{item.name}}Card' data-card='.{{item.name}}-selector-card' data-name='{{item.name}}'>Remove</h5>
  <h5 id="inspectItem" class="item-selector inspect-button" data-name='{{item.name}}'>Inspect</h5>
  <h5 id="useItem" class="item-selector use-button" data-name='{{item.name}}'>Use</h5>
</div>
