<div class="{{pokemon.name}}-selector-card pokemon-card inspect">
  <h1>{{pokemon.name}}</h1>
  <h5 id="removePokemon" class="pokemon-selector" data-target='#{{pokemon.name}}Card' data-card='.{{pokemon.name}}-selector-card' data-name='{{pokemon.name}}'>Remove</h5>
</div>
