{{#each pokemons as |pokemon|}}
<div id="{{pokemon.name}}Card" class="pokemon-card">
  <h1>{{pokemon.name}}</h1>
  <h5 id="pickPokemon" class="pokemon-selector" data-target='#{{pokemon.name}}Card' data-name='{{pokemon.name}}'>Pick</h5>
  <h5 id="inspectPokemon" class="pokemon-selector" data-name='{{pokemon.name}}'>Inspect</h5>
</div>
{{/each}}
